
<div class="row">
    <div class="well col-md-3 col-sm-12 col-lg-3">
        <div class="one-inside">
            <label>{{ calc.display }}</label>
        </div>
        
        <div class="five-inside">
            <button ng-click="calc.buttonClicked('MC')">MC</button>
            <button ng-click="calc.buttonClicked('MS')">MS</button>
            <button ng-click="calc.buttonClicked('MR')">MR</button>
            <button ng-click="calc.buttonClicked('MM')">M+</button>
            <button ng-click="calc.buttonClicked('Mm')">M-</button>
        </div>
        <div class="four-inside">
            <button ng-click="calc.buttonClicked('CE')">CE</button>
            <button ng-click="calc.buttonClicked('C')">C</button>
            <button ng-click="calc.buttonClicked('divide')">/</button>
            <button ng-click="calc.buttonClicked('equal')">=</button>
        </div>
        <div class="four-inside">
            <button ng-click="calc.buttonClicked('7')">7</button>
            <button ng-click="calc.buttonClicked('8')">8</button>
            <button ng-click="calc.buttonClicked('9')">9</button>
            <button ng-click="calc.buttonClicked('plus')">+</button> 
        </div>
        <div class="four-inside">
            <button ng-click="calc.buttonClicked('4')">4</button>
            <button ng-click="calc.buttonClicked('5')">5</button>
            <button ng-click="calc.buttonClicked('6')">6</button>
            <button ng-click="calc.buttonClicked('minus')">-</button>
        </div>
        <div class="four-inside">
            <button ng-click="calc.buttonClicked('1')">1</button>
            <button ng-click="calc.buttonClicked('2')">2</button>
            <button ng-click="calc.buttonClicked('3')">3</button>
            <button ng-click="calc.buttonClicked('mult')">*</button>
        </div>   
        <div class="four-inside">
            <button ng-click="calc.buttonClicked('0')">0</button>
            <button ng-click="calc.buttonClicked('.')">.</button>
        </div>   
            

            
            
            


    </div>
</div>
